#企业微信后台获取的机器人 ID
WECHAT_BOT_ID=your-bot-id

#企业微信后台获取的机器人 Secret
WECHAT_BOT_SECRET=your-bot-secret

#目标发送对象ID（分为群聊与个人）
WECHAT_BOT_TARGET_ID=your-target-id

# 兜底负责查看机器人消息的userid
WECHAT_BOT_NOTIFIER_ID=user-id
# 专门负责@的hook机器人
WECHAT_BOT_AT_NOTIFIER_HOOK=web-hook-url


